
/* Custom theme*/

/* This must remain at the top of this file.                 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import url('_extensions/quarto-ext/fontawesome/assets/css/all.css');


:root {
  --primary-yellow: #FEDD00;
  --secondary-orange: #B8573E;
  --main-font: 'Lora', sans-serif;
  --subheader-font: 'Lora', sans-serif;
  --mono-font: 'Fira Mono', monospace;
  --header-font: 'Bebas Neue' sans-serif;
  --bs-navbar-hover-color: #E06E53;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Bebas Neue', sans-serif;
	font-weight: 300;
 
}

h1 {
  font-size: 40px;
	font-weight: 300;
 
}

p,li,ol {
  font-family: 'Lora', sans-serif;
  text-align: justify;
}

a {
  font-family: 'Lora', sans-serif;
  text-align: justify;
  color: #1098ad;
}

.table a {
  font-family:'Bebas Neue', sans-serif;
  font-size: 1.5rem;
  text-align: justify;
  color: #1098ad;
}

th {
    font-family:'Bebas Neue', sans-serif;
    font-size: 1.5rem;
		font-weight: 100;
}

body {
    letter-spacing: 1px;
    font-family: 'Bebas Neue';
}


/* navbar */


@media screen and (max-width: 952px){
  /*--    --*/
  .navbar-brand.navbar-brand-logo {
    background-attachment: scroll;
    content: url("./content/images/logo_yellow3.png");
    height: 100px;
    margin-top: -13px;
    margin-right: -5px;
  }

}

.navbar-brand>img {
    max-height: 110px;
    width: auto;
    padding-left: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 20px;
}

.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #fffff0 ;
}

a.nav-link,
a.nav-link:after,
a.nav-link:before {
  transition: all .3s;
}

a.nav-link {
  position: relative;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--primary-yellow) !important;
}

.navbar-title:hover {
    color: var(--primary-yellow) !important;
}

.navbar-title {
  display: inline-block;
  padding: 0;
  content: url("./content/images/logo_yellow3.png");
  padding-left: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100px;
  margin: auto;
}

.navbar-title:hover {
  opacity:50;
  content: url("./content/images/logo_yellow3.png");
}

@media screen and (max-width: 952px){
  /*--    --*/
  .navbar-title {
    content: url("./content/images/logo_yellow3.png");
  }

}

.navbar-nav .nav-link.active {
  color: var(--primary-yellow) !important;
}

.navbar-nav .nav-link:hover {
  color: var(--primary-yellow) !important;
}

.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:focus {
    color: var(--primary-yellow) !important;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--primary-yellow);
}

.sidebar nav[role=doc-toc] ul>li>a.active {
    border-left: 1px solid var(--primary-yellow) !important;
    color: var(--primary-yellow) !important;
}



/* adding from erh*/ 

.navbar li.nav-item  span {
  font-family: 'Bebas Neue', sans-serif;
  font-size: x-large;
  font-weight: 300;
  
}

.navbar-nav .nav-link {
  color: #fffff0;
  font-weight: 300;
}

.navbar-nav .nav-link:hover {
  color: var(--primary-yellow);
  font-weight: 300;
}
/* */

.dropdown-item:active{
  background-color: var(--primary-yellow);
}

/*  A circle image cropper  */

.clipped {
    clip-path: circle();
}

/* link color */

a {
  text-decoration: none;
}

a:hover {
  color: var(--primary-yellow);
}

a.white {
  color: white;
  text-decoration: none;
}


/* ALA navbar favicon color */

.bi-ala {
  content: url("./images/favicon.ico");
  height:26px;
}

.bi-ala:hover {
  opacity: 50;
  background-color: white;
  transition: all .3s;
  clip-path: circle();
}

/* figure captions */

.figure-caption {
  text-align: center;
  font-size: .8rem;
}

/* Add space between Posts title & description */
#title-block-header.quarto-title-block.default .quarto-title .title {
    margin-bottom: 10px;
}


/*----------------------------------------------*/
